asgiref==3.7.2
backports.zoneinfo==0.2.1
colorama==0.4.6
distlib==0.3.6
Django==4.2.9
exceptiongroup==1.1.1
filelock==3.11.0
gunicorn==22.0.0
iniconfig==2.0.0
numpy==1.24.4
packaging==23.1
pandas==2.0.3
passlib==1.7.4
platformdirs==3.2.0
pluggy==1.2.0
pytest==7.4.0
python-dateutil==2.9.0.post0
pytz==2024.2
Send2Trash==1.8.3
six==1.16.0
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.9.0
tzdata==2023.4
virtualenv==20.21.0
virtualenvwrapper-win==1.2.7
whitenoise==6.7.0
